---
export type Section = {
    label: string;
    href: string;
    icon: string;
};

const sections = [
    { label: "home", icon: "lni-home-2", href: "/#home" },
    { label: "about", icon: "lni-briefcase-1", href: "/#about" },
    { label: "services", icon: "lni-code-1", href: "/#services" },
    { label: "tools", icon: "lni-compass-drafting-2", href: "/#tools" },
    { label: "contact", icon: "lni-envelope-1", href: "/#contact" },
] as Section[];
---

<nav>
    <ul>
        {
            sections.map((section) => (
                <li>
                    <a
                        href={section.href}
                        title={section.label}
                        data-aos="fade-in"
                    >
                        <i class={`lni ${section.icon}`} />
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }

    ul {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;

        list-style: none;
        padding: 0.5rem;
        margin: 0;

        border-radius: 0.75rem;
        color: rgba(255, 255, 255, 0.9);
        background: rgba(255, 255, 255, 0.03);
        font-size: clamp(1rem, 4vw, 1.5rem);
    }

    li {
        margin: 0;
    }

    a {
        display: grid;
        place-items: center;

        width: clamp(2.25rem, 10vw, 3rem);
        height: clamp(2.25rem, 10vw, 3rem);

        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        border-radius: 0.5rem;
    }

    a:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    @media (min-width: 640px) {
        nav {
            padding: 2rem 0;
        }

        ul {
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
        }
    }
</style>
