---
import Layout from "../layouts/Layout.astro";

import Home from "../components/home/Home.astro";
import About from "../components/about/About.astro";
import Services from "../components/services/Services.astro";
import Contact from "../components/contact/Contact.astro";
import Tools from "../components/tools/Tools.astro";

const registry = {
	home: Home,
	about: About,
	services: Services,
	contact: Contact,
	tools: Tools,
};

type Key = keyof typeof registry;

export type Section = {
	id: Key;
	component: any;
};
---

<Layout>
	<section id="home" data-aos="fade-down">
		<Home />
	</section>
	<section id="about" data-aos="fade-down" data-aos-delay="100">
		<About />
	</section>
	<section id="services" data-aos="fade-down" data-aos-delay="200">
		<Services />
	</section>
	<section id="tools" data-aos="fade-down" data-aos-delay="300">
		<Tools />
	</section>
	<section id="contact" data-aos="fade-down" data-aos-delay="400">
		<Contact />
	</section>
</Layout>

<style>
	section {
		width: 100%;
		max-width: 46rem;
		padding: 2rem 0;
		margin: 0 auto;
	}
</style>
