---
import Info from "./Info.astro";
import Form from "./Form.astro";
import Heading from "../shared/Heading.astro";

import data from "../../data/contact.yml";
---

<Heading title="LET'S WORK" subtitle="TOGETHER" />

<!-- 
<Info
    heading={data.heading}
    body={data.body}
    email={data.email}
    location={data.location}
/> -->

<div>
    <Form />
</div>
